<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--<link rel="stylesheet" href="<%=request.getContextPath()%>/front-end/index/css/NavBar.css">-->
<!--<link rel="stylesheet" th:href="@{/css/NavBar.css}" href="../css/NavBar.css">-->
<!--<head>-->
<!--	<meta charset="utf-8">-->
<!--</head>-->
	<div th:fragment="navBar" class="container-fluid navBar">
		<div class="row justify-content-between">
			<div class="col-1" >
				<a href="/index" th:text="#{homepage}"></a>
			</div>
			<div class="col-auto">
				<a sec:authorize="isAuthenticated()" th:href="@{/chatground/ground}" th:text="#{chatroom}"></a>

				<a sec:authorize="isAnonymous()" th:href="@{/member/signup}" th:text="#{signup}"></a>

				<a sec:authorize="isAnonymous()" th:href="@{/member/login}" th:text="#{login}"></a>

				<span sec:authorize="isAuthenticated()" >
					<span th:text="#{welcome}"></span>
					<span sec:authentication="principal.nickName"></span>
					<a th:href="@{/member/logout_confirm}" th:text="#{logout}"></a>
				</span>

			</div>
		</div>
	</div>
</html>