	label.xrequired:before {
		content: "*";
		color: red;
	}

	.warn{
		color:red;
	}

	#account_hint {
		margin: 0;
	}

	#email_hint {
		margin: 0;
	}

	#previewMem_pic{
		width: 100%;
		height: auto
	}

	#previewMem_pic img{
		width: 100%;
		height: 100%
	}